<h1 class="text-2xl font-bold font-montserrat mb-4">
  {{ post().title }}
</h1>

<div class="divider divider-secondary"></div>

<form
  [formGroup]="postForm"
  class="grid grid-cols-1 sm:grid-cols-2 gap-4"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-2">
    <h2>Datos Del Usuario</h2>

    <label class="floating-label">
      <span>Title</span>
      <input
        type="text"
        placeholder="title"
        class="input input-bordered w-full"
        formControlName="title"
      />
    </label>
    <label class="floating-label">
      <span>Content</span>
      <textarea
        class="textarea"
        formControlName="content"
        placeholder="content"
      ></textarea>
    </label>
    <label class="floating-label"></label>
    <span>Author</span>
    <select class="select select-bordered w-full" formControlName="author_id">
      <option value="0">Seleccione un rol</option>
      @for (user of usersResource.value()?.data?.users; track user.id) {
        <option [value]="user.id">
          {{ user.first_name }} {{ user.last_name }}
        </option>
      }
    </select>
    <div class="flex flex-col gap-2 mt-6">
      <h2>Foto de Perfil</h2>

      <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
        @if (!previeIMG) {
          <img
            class="object-contain animate-fadeIn h-[300px]"
            [src]="post().id | PostImages"
            [alt]="post().image"
            width="300"
            height="200"
            priority
          />
        } @else {
          <img
            class="object-contain animate-fadeIn h-[300px]"
            [src]="previewURL"
            [alt]="post().image"
            width="300"
            height="200"
            priority
          />
        }
      </div>

      <input
        type="file"
        accept="image/*"
        class="file-input file-input-bordered w-full max-w-md self-center sm:self-start"
        (change)="onFIlesChange($event)"
      />
    </div>
    <button class="btn btn-secondary" type="submit">
      <!-- <span class="loading loading-spinner loading-sm"></span> -->
      Guardar
    </button>
  </div>
</form>
